# Virtual environment
venv/

# Key file
secret.key

# Data files
Encrypt_PW.txt
Decrypted_PW.txt

# Logs (if any)
key_management.log

# Bytecode
__pycache__/
*.pyc

# OS specific files
.DS_Store
Thumbs.db
